@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --alata: "Alata", sans-serif;
  --mont: "Montserrat", sans-serif;
  /* colors */
  --inputPlColor: rgb(129, 129, 129);
  --lightColor: #ffffffff;
  --footerBgColor: #093e36;
  --buttonBgColor: #00fffb;
  --primaryBgButtonColor: #0c00ff;
  --primaryBgButtonColor: rgb(3, 255, 255);
}

body {
  background-image: url("/src/assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
